<!-- Inject Navigation view here -->
<div data-ng-include data-src="'../../nav.html'"></div>

<!-- Main container for Tutorial listing Page View -->
<div class="main-container" style="min-height:580px;">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>MEAN STACK TUTORIALS ON THE PLANET</h4>
        </div>
      </div>

      <div class="row" ng-controller="TutsController">
        <div class="col-md-12">
          <div ng-repeat="tuts in allTutorials" class="bs-callout">
            <h4><i class="fa fa-language"></i> <a href="tutorials/{{ tuts.slug }}">{{ tuts.title }}</a></h4>
            <p>{{ tuts.content | limitTo: 250 }}...</p>
            <p>
              Posted by <a href="mean-developers/{{ tuts.postedBy }}">@unicodeveloper</a>
              <small><em class="time" am-time-ago="tuts.created_on"></em></small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="social social-1 near-footer">
    <div class="container">
      <div class="row">
        <div class="leader col-sm-12 text-center">
          <span>
            <i class="fa fa-quote-left"></i>
            Learn By Doing. Learn More By Teaching.
            <i class="fa fa-quote-right"></i>
          </span>
          <h5 class='lead-author'>- Prosper Otemuyiwa</h5>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End Main Container for Tutorial listing Page View -->

<!-- Inject Footer here -->
<div data-ng-include data-src="'../../footer.html'"></div>