
    <div class="modal-header" style="background-color:#aa0036;">
      <h5 class="modal-title text-center" style="color:#fff;">Share Mean Stack Projects</h5>
    </div>
    <div class="modal-body" style="padding: 3%;" text-align="center">
      <form name="createProjectForm" data-ng-submit="createProject()">

          <div class="form-group">
            <label for="username">Project Name</label>
            <input class="form-control input-lg" style="width:150%;" data-ng-model="project.name" placeholder="name e.g Meanmap" name="name" type="text" id="name" required>
            <div class="help-block text-danger" data-ng-if="createProjectForm.name.$dirty" data-ng-messages="createProjectForm.name.$error">
              <div ng-message="required" class="has-error">Project Name is required.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Project Url <em>( Append http(s):// )</em></label>
            <input class="form-control input-lg"  style="width:150%;" data-ng-model="project.url" placeholder="url e.g http://meanmap.com" name="url" type="url" id="url" required>
            <div class="help-block text-danger" data-ng-if="createProjectForm.url.$dirty" data-ng-messages="createProjectForm.url.$error">
              <div data-ng-message="required" class="has-error">Project Url is required.</div>
            </div>
          </div>

          <div class="form-group">
              <label for="name">Project Description <em>*Markdown Supported</em></label>
              <textarea class="form-control input-lg"  style="width:150%;" rows="5" data-ng-model="project.description" placeholder="Description e.g Meanmap is.." name="description" id="description" required></textarea>
              <div class="help-block text-danger" data-ng-if="createProjectForm.description.$dirty" ng-messages="createProjectForm.description.$error">
                <div data-ng-message="required" class="has-error">Project Description is required.</div>
              </div>
          </div>

          <p>
            <button class="btn btn-default btn-lg col-md-6" id="submit-btn" type="submit" data-ng-disabled="createProjectForm.$invalid">Share</button>
             <button class="btn btn-danger btn-lg col-md-6" data-ng-click="cancel()" style="color:#fff;">Cancel</button>
          </p>


      </form>
    </div>