<!-- Inject Navigation view here -->
<div data-ng-include data-src="'../../nav.html'"></div>

<!-- Main container for Home Page -->
<div class="main-container" style="min-height:580px;">
  <section>
      <div class="listing" style="background-color: #fff;padding: 60px 20px;">
        <div class="row" data-ng-controller="ProjectController">

          <div class="col-sm-8 columns project-board">
            <h3 class="header" style="text-transform:capitalize;">{{ projectDetails.name }}</h3>
            <br>
            <p marked="projectDetails.description"></p>
            <span class="postedBy" style="font-style:italic;"> Added by  <a style="color:#aa0036;" href="/mean-developers/{{ projectDetails.postedBy }}">@{{ projectDetails.postedBy }} </a></span>

            <dir-disqus disqus-shortname="meanmap" disqus-identifier="{{ projectDetails.id }}"
              disqus-title="{{ projectDetails.name }}"
              disqus-url="{{ projectDetails.url }}">
            </dir-disqus>
          </div>

          <div class="col-sm-3 columns project-sidebar">
            <h6>Posted: <span class="time" am-time-ago="projectDetails.postedOn"></span></h6>
            <br>
            <h6>Website: </h6>
            <p><a href="{{ projectDetails.url }}" target="_blank"> {{ projectDetails.url }}</a></p>

            <h6>Social Media Share: </h6>
            <br>
            <p>
              <a href="#" style="color:#fff;margin-left:-10px;" class="btn btn-info btn-lg" data-ng-click="shareTwitter(projectDetails.name)">
                <i class="fa fa-twitter"></i> Share on Twitter
              </a>
            </p>
            <p>
              <a href="#" style="color:#fff;margin-left:-10px;" class="btn btn-lg btn-primary" data-ng-click="shareFacebook(projectDetails.name)">
                <i class="fa fa-facebook"></i> Share on Facebook
              </a>
            </p>
           </div>
        </div>
      </div>
  </section>
</div>
<!-- End Main Container for Project Details Page View -->

<!-- Inject Footer here -->
<div data-ng-include data-src="'../../footer.html'"></div>
